@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,900&family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: linear-gradient(to left, rgb(0, 0, 0), #200f21, #4c0027);
  --secondary-color: linear-gradient(to right, rgb(0, 0, 0), #200f21);
  --background: rgb(62, 69, 77);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}
h1 {
  font-family: "Roboto", sans-serif;
}
header {
  background-image: var(--primary-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin-left: 10px;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}
.container {
  background-image: var(--secondary-color);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.user-window {
  width: 350px;
  color: white;
  background-color: rgb(9, 13, 19);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 25px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.user-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
h4 {
  background-color: var(--background);
  padding: 0 8px;
  border-radius: 50%;
}
.users-list p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.chat-window {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(9, 13, 19);
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.chats {
  min-height: 65vh;
  padding: 20px;
}
.user-join {
  font-size: 1rem;
  color: rgb(9, 13, 19);
  background-color: white;
  border-radius: 50px;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.message {
  color: rgb(9, 13, 19);
  background-color: white;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.message p {
  font-size: 16px;
}
.outgoing {
  margin-left: auto;
  color: white;
  background-image: var(--primary-color);
  border-radius: 50px 10px 10px 50px;
  text-align: right;
}
.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
input {
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.btn {
  background-image: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
  border-radius: 0 50px 50px 0;
  padding: 5px 15px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.btn {
  display: block;
}
@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  .burger {
    background-image: var(--primary-color);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
      inset 2px 2px 5px rgba(255, 255, 255, 0.25),
      inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  button {
    display: block;
  }
  .container {
    position: relative;
  }
  .user-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: max-content;
    z-index: 12;
    box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
  .message {
    max-width: 300px;
  }
}
